$font-color: -webkit-linear-gradient(
  180deg,
  #ffffff 0%,
  #ffffff 0%,
  rgba(243, 244, 245, 0.2) 11.74%,
  #f3f4f5 27.92%,
  rgba(243, 244, 245, 0) 44.79%,
  rgba(243, 244, 245, 0.68) 60.42%,
  #f3f4f5 79.17%,
  #ffffff 100%
);

body {
    font-family: "Jost";
    font-weight: 500;
    font-size: 15px;
    background-image: $font-color;
  }

  .container {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 74px;
    font-weight: 500;
  }

  h2 {
    font-size: 64px;
    font-weight: 800;
    line-height: 70px;
  }
  
  p {
    font-size: 24px;
    line-height: 35px;
    color: #64646a;
    font-weight: 300;
  }

  /* Header */ 

  header {
    position: relative;
    margin-top: 50px;
    margin-bottom: 150px;
    .logo {
        width: 200px;
        margin-bottom: 20px;
      
    }
  }

  .back-to-main {
    position: absolute;
    left: 150px;
    top: 20px;
    background-color: #fff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.1s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
    img {
      width: 70px;
    };
  }


  /* Product wrapper */

  .container-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 80px;
    column-gap: 30px;
  }
  
  .product-card {
    width: 393px;
    background-color: white;
    border: 3px #1b1b1b solid ;
    border-radius: 24px;
    padding: 41px 30px 35px 0;
    small {
      margin-left: 16px;
      font-size: 20px;
      line-height: 28px;
      color: #64646a;
    }
    img {
      width: 186px;
      height: 305px;
      margin-top: -119px;
      float: left;
    }
    h3 {
      margin-left: 202px;
      font-weight: 600;
      font-size: 40px;
      line-height: 44px;
      margin-bottom: 87px;
    }
    p {
      margin-left: 30px;
      margin-bottom: 40px;
      font-size: 20px;
    }
  }

  .details-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    width: 80%;
    margin: 0 auto 25px auto;

  }
  .items {
    background: #f2ede7;
    border-radius: 8px;
    width: 120px;
    display: flex;
    font-size: 18px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
  }
  .counter-wrapper {
  }
  .items__control {
    width: 40px;
    text-align: center;
    transition: background-color 0.1s ease-in;
    &:hover {
      background-color: #83838392;
    }

  }
  .items__current {
    width: 40px;
    text-align: center;

  }

  .price__weight {
    color: #6c757d;
    font-size: 80%;
    line-height: 1;
  }

  .price__currency {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1;
  }

  .btn {
    border: 1px solid #1b1b1b;
    padding: 0.375rem 0.75rem;
    margin-left: 15px;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    &:hover {
      color: #fff;
    background-color: #1b1b1b;
    border-color: #1b1b1be4;
    }
  }

