body {
  font-family: "Jost";
  font-weight: 500;
  background-color: #eeeff1;
  font-size: 15px;
}

.container {
  max-width: 1240px;
  padding: 0px 20px;
  margin: 0 auto;
}

#btn {
  width: 208px;
  height: 56px;
  border-radius: 63px;
  background-color: #1b1b1d;
  transition: transform 0.1s ease-in-out;
  text-align: center;
  margin-top: 3px;
  color: #fff;
}
#btn:hover {
  transform: scale(1.05);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 123px;
  color: #1b1b1d;
}

.navbar-brand {
  width: 126px;
  height: 50px;
}

.navbar-collapse {
  display: flex;
}

.navbar-nav {
  display: flex;
}

.nav-item {
  margin-top: 17px;
  margin-right: 40px;
}
.nav-item a {
  font-size: 18px;
  color: #1b1b1d;
}
.nav-item a:hover {
  color: #7c7c94;
}

.cart-wrapper {
  padding: 18px;
  background-color: #fff;
  margin-right: 20px;
  border-radius: 50%;
  transition: transform 0.1s ease-in-out;
}
.cart-wrapper:hover {
  transform: scale(1.1);
}

/*Header content */
.header-content {
  margin-bottom: 131px;
  display: flex;
}
.header-content h1 {
  font-size: 124px;
  font-weight: 800;
  line-height: 140px;
  margin-bottom: 30px;
}
.header-content p {
  font-size: 24px;
  font-weight: 400;
  color: #64646a;
  line-height: 35px;
  margin-bottom: 60px;
}

.header-content-wrapper {
  max-width: 600px;
}

.img-wrapper img {
  width: 600px;
  height: 612px;
  margin-left: 0px;
}
